Repository katrinleinweber/espanso-gitlab-support: changes, and which lefthook commands are due for each by the changed paths.
All: append, inject, verify

append:
  run: make tabulate

inject:
  run: make inject

verify:
  run: cd gitlab-support/0.1.0 && bundle exec rspec

Reformat tools espansions for better read- & maintainability
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add git filter-repo --analyze espansion
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Bump gem versions
  README.md
  gitlab-support/0.1.0/Gemfile.lock
Due: none

Enable listing of literal backticks
  Makefile
  README.md
Due: none

Espand ticket ID into [ZD …](…) link
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Espand [jq and [sd to useful links
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Bump Ruby version & gems
  .tool-versions
  gitlab-support/0.1.0/Gemfile.lock
Due: none

Remove dupliate closing bracket
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Use customer feedback template from HB
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Let GitLab auto-add list symbols (repairs 2e34f67)
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Construct ZD links from full URL (repairs 9a6066c)
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

/glsri: Connect reconfigure with Linux upgrades
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Update /stc milestone
  gitlab-support/0.1.0/package.yml
Due: append, inject

Bump versions
  README.md
  gitlab-support/0.1.0/.tool-versions
  gitlab-support/0.1.0/Gemfile.lock
Due: none

Add pre-formatted filename variants
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Espand /glsq to PSQL command template
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

/glsri: Adapt logrotate_size to smaller HackyStack envs
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add manifest file, update install instructions
  README.md
  gitlab-support/README.md
  gitlab-support/_manifest.yml
Due: none

Bump version to 1.0, leave beta phase
  Makefile
  README.md
  gitlab-support/0.1.0/.tool-versions
  gitlab-support/Gemfile
  gitlab-support/Gemfile.lock
  gitlab-support/README.md
  gitlab-support/_manifest.yml
  gitlab-support/package.yml
  gitlab-support/reference.rb
  gitlab-support/spec/reference_spec.rb
  gitlab-support/spec/title_spec.rb
  gitlab-support/title.rb
  lefthook.yml
Due: append, inject, verify

Path conditions:
  append: any of: **/package.yml
  inject: any of: **/package.yml
  verify: any of: **/*.rb
