Repository katrinleinweber/espanso-gitlab-support: changes, and which lefthook commands are due for each by the changed paths.
All: append, inject, bundle, verify

lefthook.yml:

pre-commit:
  commands:
    append:
      glob: '**/package.yml'
      run : 'make tabulate'
    inject:
      glob: '**/package.yml'
      run : 'make inject'
    bundle:
      glob: '**/Gemfile*'
      run : >-
        cd gitlab-support/0.1.0 \
          && bundle update \
          && bundle install \
          && bundle audit
    verify:
      glob: '**/*.rb'
      run : 'bundle exec rspec'

Automate gem management
  gitlab-support/0.1.0/Gemfile.lock
  lefthook.yml
Due: bundle

Fix formatting
  README.md
Due: none

Prevent end of code block at pipe characters
  Makefile
  README.md
Due: none

Update nokogiri
  gitlab-support/0.1.0/Gemfile.lock
Due: bundle

Update Ruby
  gitlab-support/0.1.0/.tool-versions
Due: none

Avoid "No preset version installed" error
  gitlab-support/0.1.0/Gemfile
  gitlab-support/0.1.0/Gemfile.lock
Due: bundle

Repair KubeSOS snippet
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Repair details tag
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Use only 1 visual customer highlight
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add variants of title- & reference-based links
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Save electricity
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Initialise SR with sensible defaults
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Simplify searching the instance's log files
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Pin GitLab-related packages, but upgrade all others
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Clarify SOS wording
  gitlab-support/0.1.0/package.yml
Due: append, inject

Start testing CodeQL
  .github/workflows/codeql-analysis.yml
Due: none

Avoid collision with "gitlab-ctl restart"
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Clarify SOS wording
  README.md
Due: none

Bump gem versions
  gitlab-support/0.1.0/Gemfile.lock
Due: bundle

Align /var/opt/gitlab trigger
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add trigger for full …hashed/….git path
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Improve contribution experience
  README.md
  lefthook.yml
Due: none

Add trigger to number ticket questions
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Avoid accidental mass assignment
  gitlab-support/0.1.0/package.yml
Due: append, inject

Reflect issue title change
  gitlab-support/0.1.0/spec/title_spec.rb
Due: verify

Create a Slack pairing thread from issue URL
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Regenerate README.md after 5db8fbfa
  README.md
Due: none

Include table changes in commit
  Makefile
Due: none

Make: Avoid directory change
  Makefile
Due: none

Repair RSpec testing
  lefthook.yml
Due: none

Avoid slow bundle commands when committing
  lefthook.yml
Due: none

Bump bundler to v2.2.31
  gitlab-support/0.1.0/Gemfile.lock
Due: bundle

Add fast-stats espansion, but manually append subcommand
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add space after question number
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add shortcut for customer call thread
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Speed up local RSpec reruns after failed CI
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add shortcut to list coauthor in commit description
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Avoid permission errors after using embedded git
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Add git-sizer link & advice
  README.md
  gitlab-support/0.1.0/package.yml
Due: append, inject

Mention coauthoring alternative
  gitlab-support/0.1.0/package.yml
Due: append, inject
